* {
  box-sizing: border-box;
}

* {
  /*border: 0.5px solid black;*/
}

html,
body {
	width:100%;
	height:100%;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p,pre {
  margin:0;
  padding:0;
}

a {
  text-decoration:none;
  color:white;
  display:block;
}

.container-group {
  height:inherit;
  display:flex;
  flex-flow: row wrap;
}

.container-list {
  position: relative;
  display: flex;
  flex: 1 50%;
  overflow: hidden;
  height:50%;
}

.container-link-overlay {
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}

.container-title {
  position:relative;
  display:flex;
  align-items:center;
  justify-content: center;
  height:100%;
  width:100%;
  transition: all .4s;
  color:black;
  letter-spacing: 5px;
  font-size: 1.25em;
}

.container-title::before {
  position: absolute;
  left:-50%;
  transform: translate3d(-50%,-25%,0);
  transition: all .4s;
}

.container-link-overlay:hover + .container-title {
  transition: transform .4s;
  transform: translate3d(100%,0,0);
}

#blog {
  background-color: #AAC39C;
}

#blog > .container-title::before {
  content: "\f143";
  font-family: FontAwesome;
  font-size: 2em;
}

#portfolio {
  background-color: #5A86BF;
}

#portfolio > .container-title::before {
  content: "\f008";
  font-family: FontAwesome;
  font-size: 2em;
}

#extra {
  background-color: #F2D194;
  flex-flow: row wrap;
}

#lab {
  background-color: #D95A4E;
}

#lab > .container-title::before {
  content: "\f1b3";
  font-family: FontAwesome;
  font-size: 2em;
}

.extra-list {
  flex: 1 50%;
  position:relative;
  overflow: hidden;
  display:flex;
  height:50%;
}

.extra-link-overlay {
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}

.extra-link-overlay:hover + .container-title {
  transition: transform .4s;
  transform: translate3d(100%,0,0);
}

#twitter {
  background-color: #F2D194;
}

#twitter > .container-title::before {
  content: "\f099";
  font-family: FontAwesome;
  font-size: 2em;
}

#github {
  background-color: #FFE9C0;
}

#github > .container-title::before {
  content: "\f09b";
  font-family: FontAwesome;
  font-size: 2em;
}

#codepen {
  background-color: #C9A25B;
}

#codepen > .container-title::before {
  content:  "\f1cb";
  font-family: FontAwesome;
  font-size: 2em;
}

#contact {
  background-color: #9C752B;
}

#contact > .container-title::before {
  content: "\f01c";
  font-family: FontAwesome;
  font-size: 2em;
}

#center {
  position:absolute;
  background-color: white;
  z-index:2;
  height:100px;
  width:100px;
  border-radius: 50%;
  left:50%;
  top:50%;
  transform: translate3d(-50%,-50%,0);
}
